.mass-shrinker-wrapper {
  background-color: #f2f5fa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mass-shrinker-card {
  width: 100%;
  padding: 24px;
  background: #fff;

  .ant-typography {
    margin-bottom: 16px;
  }

  .submit-button {
    margin-top: 16px;
    width: 100px;
  }
}
