.link-simple-manager {
  padding: 24px;

  .search-bar {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .link-item {
    .link-header {
      margin-bottom: 8px;
    }

    .short-link-box {
      margin-top: 8px;
    }

    .actions {
      margin-top: 12px;
      text-align: right;
    }
  }
}
