.developers-api-wrapper {
	min-height: 100vh;

	background-color: #f2f5fa;

	.code-block {
		// padding: 16px;
		margin-bottom: 24px;
		font-size: 14px;
		font-family: 'Courier New', monospace;
		white-space: pre-wrap;
		word-break: break-word;
		background-color: #f9f9f9;
		border: 1px solid #d9d9d9;
	}

	.ant-typography {
		margin-bottom: 16px;
	}

	.ant-typography-title {
		margin-top: 24px;
	}
}
